- if any_form_based_providers_enabled?
  - if crowd_enabled?
    .login-box.tab-pane{ id: "crowd", role: 'tabpanel', class: active_when(form_based_auth_provider_has_active_class?(:crowd)) }
      .login-body
        = render 'devise/sessions/new_crowd'

  - ldap_servers.each_with_index do |server, i|
    .login-box.tab-pane{ id: "#{server['provider_name']}", role: 'tabpanel', class: active_when(i == 0 && form_based_auth_provider_has_active_class?(:ldapmain)) }
      .login-body
        = render 'devise/sessions/new_ldap', server: server, render_remember_me: false, submit_message: _('Enter Admin Mode')

  = render_if_exists 'devise/sessions/new_smartcard'

- if allow_admin_mode_password_authentication_for_web?
  .login-box.tab-pane.gl-p-5{ id: 'login-pane', role: 'tabpanel', class: active_when(!any_form_based_providers_enabled?) }
    .login-body
      = render 'admin/sessions/new_base'
